.rojo {
  /* background: rgba(243, 29, 72, 0.699); */
  height: 100px;
  border: 1px solid;
  border-color: brown;
  
}

.azul {
  background: coral
}

.verde {
  background: rgb(97, 180, 97);
}

#ToDO {

background: coral

}
.pomodoros {

  width: 65px;

}

.drop-zone {
  background: chocolate;
  width: 200px;
  height: 432px;

}