.panelPomodoro {
  background: #7AF5E7;
  border-radius: 5px;
  height: 170px;
  
}

.panelPomodoro1 {
  background: #FECCC5;
  border-radius: 15px;
  height: 170px;
  
}



.panelInfo{
background: #FFD871;
  border-radius: 15px;
  height: 85px;

}

.panelInfo1{

  background: #7AF5E7;
  border-radius: 5px;
  height: 85px;
}


#ToDO {

background: coral

}
.pomodoros {

  width: 75px;

}

.drop-zone {
  background: chocolate;
  width: 200px;
  height: 432px;

}

.calendar{
    width: -webkit-fill-available;

}

.tomatin{
  width: auto;
  height: 160px;

}

.urgente{

  color: #F57A88;
  

}

.crearTarea{

  background: #7AC5F5;
}

.bottonBorrar{
background: #F57A88;


}




.timer {
  text-align: center;
}

#tiempo-restante {
  font-family: 'SF Buttacup Lettering Shaded', sans-serif;
  font-size: 115px;
  color: azure;

}

.info-pantalla{
  font-family: 'SF Buttacup Lettering Shaded', sans-serif;
                                                
    font-size: 90px;
    color: azure;

}

.texto-pantalla {
  font-family: 'SF Buttacup Lettering Shaded', sans-serif;
  font-size: 65px;
  color: #F57A88;

}

button {
  margin-top: 10px;
  font-size: 16px;
}


H2{
  font-family: 'SF Buttacup Lettering Shaded', sans-serif;
   
  
} 

