.rojo {
  background: rgba(243, 29, 72, 0.699);
  height: 100px;
}

.azul {
  background:coral
}

.verde {
  background: rgb(39, 43, 39);
}

#contenedorCentral{

background: rgba(128, 255, 0, 0.068);

}

.drop-zone{

background: chocolate;

}